frame{
    border-width: 2px;
}
button{
    background-image: none;
    font-family: "pixel operator sc";
    font-size: 42px;
    background-color: #ebebeb;
    border-radius: 24px;
    opacity: 0.6;
    transition: 0.4s;
}
button:hover{
    opacity: 1;
    background-color: orange;
}